:root{
    --principal: rgb(241, 190, 88);
    --secundario:rgb(76, 55, 15);
    --degradado: linear-gradient(to right top, #f3da8f, #746222, #cbc36b);
    --dia: rgb(240, 240, 240);
    --dia2: rgb(216, 216, 216);
    --noche: rgb(32, 32, 32);
    --noche2: rgb(48, 48, 48);
}

.dark{
    --noche: rgb(240, 240, 240);
    --noche2: rgb(216, 216, 216);
    --dia: rgb(32, 32, 32);
    --dia2: rgb(48, 48, 48);
}

body{
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    background-color: var(--dia);
    color: var(--noche)
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

main{
    display: flex;
    margin: 0vh 10vw;
    margin-top: 40vh;
    max-width: 100vw;
    flex-direction: column;
}


footer{
    bottom: 0;
}

#luna{
    color: var(--noche)
}

input, textarea{
    background-color: var(--dia2);
    color: var(--noche2);
}

select, option{
    background-color: var(--dia2);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--principal) #ffffff;
    }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    }

  *::-webkit-scrollbar-track {
    background: var(--dia);
    }

  *::-webkit-scrollbar-thumb {
    background-color: var(--principal);
    border-radius: 10px;
    border: 1px solid #ffffff;
    }

ul, ol{
    list-style: none;
}

a{
    color: var(--noche);
    text-decoration: none;
}

.btn{
    width: 12vw;
    height: auto;
    padding: 1vw;
    background-color: var(--principal);
    color: black;
    text-align: center;
    border-radius: 1rem;
    transition: 0.8s all ease-in;
    box-sizing: border-box;
    border: solid 1px black;
}

.btn:hover{
    background-color: var(--secundario);
}

#text_btn:hover{
    font-size: 1.1rem;
    color: var(--principal);
}

.selector{
    width: 17vw;
    height: 7vh;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
}
.selector:focus{
    outline: 2px solid var(--principal);
}

.filtrado_alto{
    width: 12vw;
}

.titulo{
    font-size: 3rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}

.titulo b{
    color: var(--principal);
    font-weight: bold;
}

.titulo_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    text-align: center;
}


/************ ANUNCIO *************/

.top_anuncios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 12vh;
} 

.articulo_anuncio{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 9px 8px 28px -11px rgba(0, 0, 0, 0.362);
    border-radius: 0.8rem;
    width: 22vw;
    word-wrap: break-word;
    overflow: hidden;
    transition: all 0.6s ease;
}

.articulo_anuncio img{
    border-radius: 0.4rem;
    transition: all 0.6s ease;
}

.articulo_anuncio:hover img{
    scale: 1.3;
}

.articulo_anuncio:hover{
    box-shadow: 9px 8px 28px -11px rgba(0, 0, 0, 0.734);
}



.anuncio_estado{
    position: absolute;
    top: 0.8rem;
    left: 0.8em;
    width: 8vw;
    border-radius: 5rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.disponible{
    background-color: rgb(5, 158, 5);
}

.vendido{
    background-color: rgb(171, 48, 48);
}


.anuncio_texto{
    height: 25vh;
    position: relative;
    background-color: var(--dia);
}

.precio_articulo{
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--principal);
    width: bold;
}

.texto_top{
    padding: 1rem;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto_top h4{
    width: bold;
    font-size: 1.3rem;
}

.texto_top span{
    color:rgb(102, 101, 101);
}

.texto_botton{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--principal);
    border-top: 1px dashed var(--principal);
}


.categoria_anuncio{
    width: 11vw;
    margin: 1rem 0;
}

.fecha_anuncio{
    width: 11vw;
    margin: 1rem 0;
}

/************************************* RESPONSIVE******************************************/

@media (max-width: 768px) {
    /* Estilos para ipad */
    
/********************************NAV************************************/
    .nav_toggle {
        display: block; /* Mostrar el botón de toggle */
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .nav_links {
        display: none; /* Ocultar los enlaces */
    }
    
    .nav_links.show {
        display: flex; /* Mostrar los enlaces cuando se activa el toggle */
        flex-direction: column;
    }

    .nav_links.show {
        display: flex;
        flex-direction: column;
    }
/***************************************************MAIN*************************************/

    main{
        margin-top: 20vh;
    }
    .section1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 73.75vw;
    }

    .img_top{
        position: relative;
        height: 45vw;
        overflow: hidden;
        width: 100%;
    }
    .img_top img{
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .img_top img.activo{
        opacity: 1;
    }

    .section1_text {
        padding: 3vw; /* Ajusta el relleno según tus preferencias */
        text-align: center;
        overflow: hidden;
        width: 100%;
        margin-left: 1rem;
    }
    .section1_text h1 {
        font-size: 1rem; /* Reduzco el tamaño de fuente para dispositivos más pequeños */
    }

    .section1_text p {
        font-size: 0.5rem;
        margin: 0.5rem 0;
    }

    .circulo {
        top: 15vh;
        bottom: 2vw;
        left: 52%;
    }

    .circulo2 {
        top: 25vh;
        bottom: 8vw;
    }
    
    .section2 {
        padding: 30px 0; /* Añadido espaciado vertical */
    }

    select{
        font-size: 0.5rem;
    }
    
    .section_anuncios {
        padding: 30px 0; /* Añadido espaciado vertical */
    }

    .main_article{
        overflow: hidden;
    }

    article{
        font-size: 0.9rem;
    }

    .div_formulario img{
        height: 65vh;
    }

    .fondo_formulario{
        height: 80vh;
    }

    .section_formulario,
    .section_anuncios {
    padding: 20px 0; /* Añadido espaciado vertical */
    }

    .articulo_anuncio{
        width: 30vw;
        height: 35vh;
    }
    .texto_top{
        height: 15vh;
    }

    .texto_bottom{
        height: 5vh;
        display: flex;
        flex-direction: column;
    }

/************************************FOOTER**************************************************/
    .footer_section {
        width: 100%; /* Asegurarse de que las secciones del footer ocupen todo el ancho */
        margin-bottom: 20px; /* Espaciado inferior entre secciones del footer */
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
/************************************PAGINA ANUNCIOS*******************************************/

    .lista_anuncios{
        margin-top: 30vh;
    }

    #filtrar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


