/****************** SECTION1 ******************/


.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
}

.img_top{
    position: relative;
    height: 45vw;
    overflow: hidden;
    width: 100vw;
}
.section1_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vw;
    padding: 0 5vw;
    width: 45.6vw;
    
}

.section1_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vw;
    padding: 5vw;
    width: 45vw;
}

.section1_text h1{
    font-size: 3rem;
}

.section1_text h1 b {
    color: var(--principal);
    font-weight: bold;
}

.section1_text p{
    font-size: 1rem;
}

.circulo{
    background-color: var(--secundario);
    color: var(--noche);
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    top: 15vw;
    transition: 0.8s all ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 37vw;
}
.circulo2{
    background-color: var(--secundario);
    color: var(--noche);
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    top: 25vw;
    transition: 0.8s all ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circulo:hover{
    background-color: var(--secundario);
    padding: 1.5vw 1.5vw;
}

.circulo i{
    transition: 0.8s all ease-in;
}

.circulo:hover i{
    color: var(--dia);
}

/***************** SECTION 2 *******************/

.section2_categories{
    display: flex;
    justify-content: space-between;
    background-image: var(--degradado);
    padding: 2vw;
    margin: 0 5vw;
    align-items: center;
}


.section_anuncios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

.section_categorias_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    width: 60vw;
    text-align: center;
}

.categorias{
    font-size: 3rem;
    font-weight: lighter;
    padding-bottom: 2rem;
}

.categorias b{
    color: var(--principal);
    font-weight: bold;
}

.lista_categorias{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lista_categorias article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    width: 15vw;
    height: 15vw;
    border: 1px dashed var(--principal);
    border-radius: 10%;
    transition: 0.8s;
}

.lista_categorias article i{
    border: 1px dashed var(--principal);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista_categorias article h4{
    font-size: 1.5rem;
}

.lista_categorias article span{
    color: var(--principal);
}

.lista_categorias article span:hover{
    color:white;
}

.lista_categorias article:hover{
    background-color: var(--secundario);
    color: white;
}

/****************** FORMULARIO *********************/

.section_formulario{
    height: 100vh;
}

.fondo_formulario{
    position: absolute;
    width: 50vw;
    border-right: 20vw solid transparent;
    border-left: 0vw solid transparent;
    border-bottom: 100vh solid var(--principal);
    left:0;
    z-index: 1;
}

.div_formulario{
    position: absolute;
    z-index: 100;
    display: flex;
    margin: 5vw 0;
}

.div_formulario img{
    width: 40vw;
    height: 80vh;
    margin: 0 3vw;
    top: 0;
}


.div_formulario div{
    width: 30vw;
}

.formulario_derecha{
    position: relative;
}

.div_formulario p{
    width: 30vw;
}

.div_formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_formulario form textarea{
    height: 25vh;
    resize: none;
}

.formulario_input{
    width: 100%;
    padding: 1vh 0;
    font-size: 1rem;
    margin: 1vh 0;
    border: 1px solid var(--secundario);
    border-radius: 0.2rem;
}

/**************************** ANUNCIOS**************************/

.ultimos_anuncios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    flex-wrap: wrap;
}