header{
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    padding: 2vw 10vw;
    margin-top: 5vh;
    align-items: center;
    color: black;
    box-sizing: border-box;
    background-image: var(--degradado);
    box-shadow: 2px 8px 16px 4px rgba(124,118,118,0.57);
    margin-bottom: 5vw;
    border-radius: 0.8rem;
    position: fixed;
    z-index: 99999999999;
    transition: all ease 0.6s;
}

.nav_toggle {
    display: none;
}

.nav_link{
    display: flex;
}


.nav_event{
    width: 100vw;
    margin: 0;
}

.nav_ol{
    display: flex;
}

.nav_ol li{
    padding: 0vw 2vw;
}

.nav_ol li a{
    color: black;
    transition: 0.6s all ease-in;
}

.nav_ol li a:hover{
    color: white;
}

